sunfish
sunfish-debug
evdata
Kifu
console.html
network.html
*.csa
!Problem/*.csa
*.out
*.d
*.o
*.gcda
*.log
*~
*.csv
*.bin
*.txt
*.org
*.tar.gz
Kifu-for-JS

# Xcode
sunfish3.xcodeproj/xcuserdata
sunfish3.xcodeproj/project.xcworkspace/xcuserdata
sunfish3.xcodeproj/project.xcworkspace/xcshareddata

# VC
Release/
Debug/
*.obj
*.exe
*.exp
*.pdb
*.dll
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.zip
[Dd]ebug*/
*.lib
*.sbr
[Ll]ib/
[Rr]elease*/
[Tt]est[Rr]esults/
_UpgradeReport_Files/
_ReSharper.*/

# Mac
Thumbs.db
