sunfish
evdata
fv.bin
gmon.out
Kifu
*.d
*.o
*.log
*~
*.csa
*.csv
sunfish3.xcodeproj/xcuserdata
sunfish3.xcodeproj/project.xcworkspace/xcuserdata
sunfish3.xcodeproj/project.xcworkspace/xcshareddata
*.obj
Release/
Debug/
*.obj
*.exe
*.exp
*.pdb
*.dll
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.zip
[Dd]ebug*/
*.lib
*.sbr
Thumbs.db
[Ll]ib/
[Rr]elease*/
[Tt]est[Rr]esults/
_UpgradeReport_Files/
_ReSharper.*/
